<div class="user_container">

<h1>Sign Up</h1>
<% if @user.errors.any? %>
<ol>
  <% @user.errors.full_messages.each do |msg| %>

  <li><%= msg %></li>
  <% end %>

</ol>
<% end %>
<div class="user">
<%= form_for @user , :class => "form" do |f|%>
<!-- <%= f.label :email %> -->
<%= f.email_field :email, :required => true, :class => "form__input", :placeholder => "email address"%>

<!-- <%= f.label :password %> -->
<%= f.password_field :password, :class => "form__input", :placeholder => "password"%>

<!-- <%= f.label :password_confirmation %> -->
<%= f.password_field :password_confirmation, :class => "form__input", :placeholder => "confirm password" %>

<%= f.submit "Sign Up!", :class => "btn" %>
<% end %>
</div>
</div>
