<h1>Locations#new</h1>
<p>Find me in app/views/locations/new.html.erb</p>

<%= form_for @location do |f| %>

<%= f.label :address %>
<%= f.text_field :address, :class =>"input"%>

<%= f.submit 'Search'%>
<% end %>

<% @locations[0..4].each do |location| %>
<div class="thumbnail">
  <%= image_tag "#{location.image}" %>
<p><%= link_to "#{location.address}", location_path(location.id) %></p>

</div>
  <% end %>
