<h1>Locations#new</h1>
<p>Find me in app/views/locations/new.html.erb</p>

<%= form_for @location do |f| %>

<%= f.label :address %>
<%= f.text_field :address, :id => 'autocomplete'%>

<%= f.submit 'Search'%>
<% end %>


<div class="thumbnail">
  <% @locations[0..4].each do |location| %>
  <%= link_to "#{location.address}", location_path(location.id) %>
  <%= image_tag "#{location.image}" %>
  <% end %>
</div>
