<h1>hi</h1>

<%= @location.address %>

<p>longitude: <%= @location.longitude %>, latitude: <%= @location.latitude %> </p>

<img src="<%= @location.image %>" alt="image">
<%= @location.image %>
<div id="map"></div>
<% @point_of_interest.each do |spot| %>
<ul>
<li><%= spot.name %></li>
</ul>


<% end %>

<%= form_tag favourite_dashboard_path do%>
<%=label_tag :dashboard_id, 'Add to Dashboard'%>
<%= select_tag :dashboard_id, options_for_select(@dashboards.all.pluck(:name, :id)) %>
<%=hidden_field_tag :location_id, @location.id  %>
<%= submit_tag 'Add to Dashboard'%>
<% end %>

<script>
  function initMap() {
    var myLatLng = {lat: <%= @location.latitude %>, lng: <%= @location.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: myLatLng
    });
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });
  }
</script>
<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpskf5JVqWv7kAPgmuqRgYR9NeN6eeWSY&callback=initMap">
   </script>
