<div class="grid-container">
  <h1><%= @location.address%></h1>
  <div class="dash_form">
    <%= form_tag favourite_dashboard_path do%>
    <%=label_tag :dashboard_id, 'Add to Dashboard'%>
    <%= select_tag :dashboard_id, options_for_select(@dashboards.all.pluck(:name, :id)) %>
    <%=hidden_field_tag :location_id, @location.id %>
    <%= submit_tag 'Add to Dashboard'%>
  <% end %>
</div>
<div class="inner-container">

  <!-- <p>longitude: <%= @location.longitude %>, latitude: <%= @location.latitude %> </p> -->
  <div class="temp">
    <h3>Current Temperature</h3>
    <p><%= @temp %></p>
  </div>
  <div class="weather">
    <h3>Current Weather</h3>
  <p>  <%= @weather %></p>
  </div>

  <img class="image_show" src="<%= @location.image %>" alt="image">
  <div id="map"></div>

  <div class="interests">
    <% @point_of_interest.each do |spot| %>
      <ul>
        <li class="points"><%= spot.name %></li>
      </ul>
    <% end %>
  </div>
</div>
</div>
