<!DOCTYPE html>
<html>
  <head>
    <title>Dashboarding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js') %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <div class="sidebar"> -->
<!--
      <div class="togglebutton">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul>
          <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'My Dashboards' , dashboards_path %></li>
      </ul>
    </div> -->
    <div class="container">

    <nav>

    <%= link_to 'Home', root_path %>
    <%= link_to 'Search New Location' , new_location_path %>
    <% if @current_user.present? %>

    <%= link_to 'Add New Dashboard', new_dashboard_path	 %>
    <%= link_to 'My Dashboards' , dashboards_path %>
    <%= link_to "Sign out #{@current_user.email}", login_path, :method => "delete", :class =>"logins"%>

    <% else %>
    <%= link_to 'Sign up', new_user_path, :class =>"logins" %>
    <%= link_to 'Sign in', login_path, :class =>"logins" %>
  <% end %>

  </nav>

    <%= yield %>
    </div>
  </body>
</html>
