<!DOCTYPE html>
<html>
  <head>
    <title>Dashboarding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js') %>



 <%= javascript_include_tag("https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google_api}&libraries=places&callback=activatePlacesSearch") %>
<%= javascript_include_tag('/javascripts/main.js') %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>

    <%= link_to 'Home', root_path %>
    <%= link_to 'Search New Location' , new_location_path %>
    <% if @current_user.present? %>
    <%= link_to 'My Dashboards' , dashboards_path %>
    <%= link_to 'Add New Dashboard', new_dashboard_path	 %>
    <%= link_to "Sign out #{@current_user.email}", login_path, :method => "delete" %>

    <% else %>
    <%= link_to 'Sign up', new_user_path %>
    <%= link_to 'Sign in', login_path %>
  <% end %>

  </nav>
    <%= yield %>
  </body>
</html>
